.prenumeration ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    list-style: none;
}

.prenumeration ul li {
    list-style: none;
    padding: 0.75rem;
    border-radius: var(--radius-border-radius);
}
.prenumeration ul li div:first-child {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: .25rem 0.5rem;

    list-style: none;
}

.detailSection {
    border-top: 1px solid var(--colors-black);
}

.detailSection .actionBtn {
    margin-top: 1.75rem;
}

.detailSection .spaceBetween {
    display: flex;
    justify-content: space-between;
}